.minesweeper-board {
  /*
    Position it relative so that the absolute postioned squares are relative to the board
  */
  position: relative;

  /*
    Center board horizontall on screen
  */
  margin: 0 auto;
}

.minesweeper-square {
  width: 32px;
  height: 32px;
  border: none;
  display: block;
  position: absolute;
  background-color: rgb(189 189 189);
  image-rendering: pixelated;
}

.minesweeper-square:focus-visible {
  outline: black dashed 4px;
  z-index: 1;
}

.minesweeper-square.minesweeper-player-mine {
  background-color: red;
}

.minesweeper-square::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2px;
  left: 2px;
}

.minesweeper-square-1::before {
  background-image: url("./icons/1.png");
}

.minesweeper-square-2::before {
  background-image: url("./icons/2.png");
}

.minesweeper-square-3::before {
  background-image: url("./icons/3.png");
}

.minesweeper-square-4::before {
  background-image: url("./icons/4.png");
}

.minesweeper-square-5::before {
  background-image: url("./icons/5.png");
}

.minesweeper-square-6::before {
  background-image: url("./icons/6.png");
}

.minesweeper-square-7::before {
  background-image: url("./icons/7.png");
}

.minesweeper-square-8::before {
  background-image: url("./icons/8.png");
}

.minesweeper-square-flag::before {
  background-image: url("./icons/flag.png");
  width: 24px;
  height: 24px;
  left: 4px;
  top: 4px;
}

.minesweeper-square-mine::before {
  background-image: url("./icons/mine.png");
  width: 26px;
  height: 26px;
  left: 4px;
  top: 4px;
}

.minesweeper-incorrectly-marked::before {
  background-image: url("./icons/mine-cross.png");
  width: 26px;
  height: 26px;
  left: 4px;
  top: 4px;
}

.minesweeper-square::after {
  border-width: 4px;
  border-style: solid;
  border-top-color: white;
  border-left-color: white;
  border-right-color: rgb(123 123 123);
  border-bottom-color: rgb(123 123 123);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mouse-down:not(.minesweeper-square-open):not(.minesweeper-square-flag):active::after,
.minesweeper-square-open::after {
  border-top-width: 2px;
  border-left-width: 2px;
  border-top-color: rgb(123 123 123);
  border-left-color: rgb(123 123 123);
  border-right-width: 0;
  border-bottom-width: 0;
}
